schemas/departements.xsd

<?xml version="1.0" encoding="Utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://raw.githubusercontent.com/Sydpy/NumerisationMaquette/master/schemas">

  <xs:include schemaLocation="https://raw.githubusercontent.com/Sydpy/NumerisationMaquette/master/schemas/personnels.xsd"/>
  
  <xs:element name="Départements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Département" type="Département" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="DépartementAcronyme">
      <xs:selector xpath="./Département"/>
      <xs:field xpath="@acronyme"/>
    </xs:key>
    <xsd:keyref name="DirecteurRef" refer="PersonnelID"> 
      <xsd:selector xpath="./Département/Directeur"/> 
    </xsd:keyref> 
  </xs:element>

  <xs:complexType name="Département">
    <xs:sequence>
      <xs:element name="Nom" type="xs:string"/>
      <xs:element name="DateCréation" type="xs:date"/>
      <xs:element name="Directeur" type="xs:ID" />
    </xs:sequence>
    <xs:attribute name="acronyme" type="xs:ID" use="required"/>
  </xs:complexType>

</xs:schema>
