schemas/grandsDomaines.xsd

<?xml version="1.0" encoding="Utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  targetNamespace="http://mdsi.etudinsa.org/"
  xmlns="http://mdsi.etudinsa.org/">
  
  <xs:element name="GrandsDomaines" type="GrandsDomaines"/>

  <xs:complexType name="GrandsDomaines">
    <xs:sequence>
      <xs:element name="GrandDomaine" type="GrandDomaine" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GrandDomaine">
    <xs:sequence>
      <xs:element name="Intitulé" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

</xs:schema>
